@media screen and (min-width: 1088px), print {
  .column.is-4,
  .column.is-4-tablet {
    width: 20%;
  }
  .column.is-8,
  .column.is-8-tablet {
    width: 60%;
  }
}
.article .content a img {
  margin: auto;
  display: block;
}
